h1 {
    font-size: 2rem;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
   background: #4c4c6e;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      height: 50vh;
    }

.Table {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(18, 60px);
    justify-content: center;
    padding: 20px;
    
       
}    

.element {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    color: black;

}

.green { background-color: green;}
.orange { background: rgba(220, 145, 5, 0.641);}
.blue { background: blue;}
.yellow { background: rgba(188, 188, 7, 0.77);}
.green {background: green;}
.white { background: whitesmoke;}
.purple {background: purple;}



footer {
     background-color: rgb(122, 122, 154);
      padding: 30px 20px;
      display: flex;
      justify-content: center;
      justify-content: flex-start;
    }

    .footer-columns {
     display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 250px;
      
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .content {
     display: flex;
     align-items: center;
     gap: 10px;
     font-size: 14px;
    }

    .box {
      width: 15px;
      height: 15px;
      border-radius: 5px;
    }



