/* The display property in CSS defines how an element is displayed on a web page (its layout behavior).
Every HTML element has a default display value, but you can change it using CSS.
1. display: block
Element starts on a new line.
Takes full width of the container by default.
Examples: <div>, <p>, <h1> → block elements.
2. display: inline
Does not start on a new line.
Takes only the width of its content.
Examples: <span>, <a>, <strong> → inline elements.
3. display: inline-block
Behaves like inline (no line break).
But you can set width & height (unlike pure inline)
4. display: none
Hides the element completely (removed from layout).
5. display: flex
Turns the container into a flexbox (for responsive layouts).
block → full width, new line.
inline → same line, only content width.
inline-block → same line but allows width/height.
none → hides element.
flex → flexible box layout.
grid → grid-based layout.
table → behaves like a table. */



@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 22px;
}

body {
    border: 2px solid black;
    height: 100vh;
}

.box {
    /* width: 105px;
    height: 50px;
    background: navy;
    text-align: center;
    color: aliceblue;
    line-height: 50px;
    border-radius: 10px;
     */
     background: navy;
     text-align: center;
     color: aliceblue;
     padding: 10px 40px;
     border-radius: 10px;
     height: 68px;
     display: flex;
     align-items: center;


}

.mainContainer {
    /* border: 1px dashed black; */
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    margin-top: 70px;
    width: 100%;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

/* .box child-1,
.box child-5 {
    flex-shrink: 0.5;
}

.box child-3 {
    flex-grow: 0.1;
} */

.child-1,
.child-4,
.child-5,
.child-5,
.child-6{
    background: wheat;
    color: black;
}
.child-2 {
    background: #7aa217;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.child-3 {
    background: green;
}

img {
    width: 20px;
    height: 20px;
}