/* scale() is a CSS transform function.
It resizes an element bigger or smaller.
Works on X-axis (width), Y-axis (height), or both
x → scaling factor for width.
y → scaling factor for height.
If only one value → both X and Y use the same. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-scale {
    width: 400px;
    height: 300px;
    margin: 150px auto;
}

body {
    border: 1px solid rgb(0, 251, 255);
    height: 90vh;
}
 
img {
    height: inherit;
    width: inherit;
    margin: auto 50px;
    scale: 0.2;
}

img:hover {
    scale: 1;
    transition:  all 0.3s ease-in-out;
}
