* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 3px solid rgb(12, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  background-image: url(../image/krishna.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 2s ease-in-out 1s infinite forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}